
@()(implicit request: RequestHeader)

@main("Welcome to Bloks") {

<nav class="navbar white navbar-color" style="box-shadow: 0px 5px 5px black;">
    <a href="/" class="navbar-brand" style="color: black;">
      <img src="@routes.Assets.versioned("images/method-draw-image-1.svg")" alt="Kiwi standing on oval" style="width: 180px;">
    </a>
    <input class="navbar-menu-target" type="checkbox" id="example-nav">
    <label class="navbar-menu-toggle" for="example-nav"><span class="navbar-icon"></span></label>
    <ul class="navbar-menu-items" >
        <li>
            <a href="/register"><span style="color: black;">Sign Up</span></a>
        </li>
        <li>
            <a href="/about"><span style="color: black;">About</span></a>
        </li>
        <li>
            <a href="/donate"><span style="color: black;">Donate</span></a>
        </li>
    </ul>
</nav>

<div>
  <h1 style="text-align: center; margin-top: 50px;">404! Error. Something could not be found.</h1>
  <h4 style="text-align: center; margin-top: 50px;">But do you know what could be found... 😉</h1>

  <img src="@routes.Assets.versioned("images/6646498-00arttumblr_nvvp989R8p1rv8bozo1_1280.jpg")" alt="Kiwi standing on oval" style="width: 50%; margin-left: 25%; margin-top: 50px;">
  <h6 style="text-align: center; margin-top: 50px;"> PS: Please don't file for sexual harassment (this is generic and not targeted)</h6>
  <h6 style="text-align: center;"> Why is this here? Cuz Feminism.</h6>
  <h6 style="text-align: center;"> If anyone wants to make this a human centipede movie let me know. <br>The oral centipede can keep going.</h6>

</div>

}
