@(username: String, homeUserId: Int, form: Form[controllers.HomeSearchForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider, notifs: Seq[models.Tables.NotificationRow])


@main("Welcome to Bloks") {

<nav class="navbar white navbar-color" style="box-shadow: 0px 5px 5px black; position: fixed;">
    <a href="/home/@username" class="navbar-brand" style="color: black;">
      <img src="@routes.Assets.versioned("images/method-draw-image-1.svg")" alt="Kiwi standing on oval" style="width: 180px;">
    </a>
    <input class="navbar-menu-target" type="checkbox" id="example-nav">
    <label class="navbar-menu-toggle" for="example-nav"><span class="navbar-icon"></span></label>
    <ul class="navbar-menu-items" >
        <li>
            <a href="/home/@username"><span style="color: black;">Home</span></a>
        </li>
        <li>
            <a href="/home/@homeUserId/portfolio"><span style="color: black;">Portfolio</span></a>
        </li>
        <li>
            <a href="/home/@username/groups"><span style="color: black;">Groups</span></a>
        </li>
        <li>
            <a href="/home/@username/contacts"><span style="color: black;">Contacts</span></a>
        </li>
        <li>
            <a href="/home/@username/settings"><span style="color: black;">Settings</span></a>
        </li>
        <li>
            <a href="/home/@username/donate"><span style="color: black;">Donate</span></a>
        </li>
    </ul>
</nav>

<div style="height: 350px; transform: translateY(45px);">
   <div align="center">
      <div class="container">
         @helper.form(action = routes.HomeController.homeSearchPost(username), Symbol("class") -> "form") {
            @helper.CSRF.formField
            <div class="finder">
               <div class="finder__outer">
                  <div class="finder__inner">
                     <div class="finder__icon" ref="icon"></div>

                        @helper.inputText(form("query")
                          , Symbol("_label") -> null
                          , Symbol("_showConstraints") -> false
                          , Symbol("class") -> "finder__input"
                          , Symbol("placeholder") -> "User Search"
                          , Symbol("style") -> "margin-top: 10px;"
                        )



                  </div>
               </div>
            </div>
         }
      </div>
   </div>
</div>
<div class="footer" style="padding-bottom:150px;">
  <div class="card" style="margin-top: 50px; width: 60%; margin-left: 20%;">
    <div class="card-header">
        <div class="card-header-title">
            Notifications
        </div>
        <div class="card-header-icon">
            ▼
        </div>
    </div>
    <div class="card-content">

      @for(notif <- notifs.reverse) {
        <div class="message indigo">
          <div class="message-header">

            <div class="row">
                <div class="col xs-3 sm-3 md-3 lg-3 xl-3">
                    <a href="/home/@notif.fromId/portfolio"><img class="icon" src="@notif.fromUserProfilePic" height="50px" width="50px"></a>
                </div>
                <div class="col xs-9 sm-9 md-9 lg-9 xl-9">
                    <h5 style="text-align: left; margin-left: 20px;">@notif.fromUserName</h5>
                    <h6 style="text-align: left; margin-left: 20px;">@notif.fromUserEmail</h6>
                </div>
            </div>
          </div>
          <div class="message-body">
            @{
              notif.`type` match {
                case 0 =>
                  <div>Congrats on creating an account. You can get started by finding some friends or joining a group.</div>
                case 1 =>
                  <p>@notif.fromUserName messaged you</p>
                  <button class="hover-grow inverted medium">View</button>
                  <samp style="color: black">■</samp>
                  <button class="hover-grow inverted medium">Ignore</button>

                case 2 =>
                  <p>"@notif.fromUserName", invited you to join their group.</p>
                  <button class="hover-grow inverted medium">Accept</button>
                  <samp style="color: black">■</samp>
                  <button class="hover-grow inverted medium">Decline</button>

                case 4 =>
                  <p>{notif.fromUserName} is trying to get your attention</p>

              }
            }


          </div>
        </div>
      }
  </div>
</div>
</div>
<div class="footer" style="background-color: lightgray; width: 100%;">
    <div class="row">
      <div class="col xs-12 sm-12 md-6 lg-4 xl-4">
          <div style="width: 80%; margin-left: 10%; height: 160px;">
            <h5>HELP:</h5>
            <a href="#" style="text-decoration: none;">FAQ</a><br>
            <a href="#" style="text-decoration: none;">Constitution</a><br>
            <a href="#" style="text-decoration: none;">Settings</a><br>
            <a href="#" style="text-decoration: none;">Logout</a>
          </div>
        </div>
        <div class="col xs-12 sm-12 md-6 lg-4 xl-4">
          <div style="width: 80%; margin-left: 10%; height: 160px;">
            <h5>ABOUT US:</h5>
            <a href="#" style="text-decoration: none;">Contact</a><br>
            <a href="#" style="text-decoration: none;">About</a><br>
            <a href="#" style="text-decoration: none;">eXul Organization</a><br>
            <a href="#" style="text-decoration: none;">FAQ About Us</a>
          </div>
        </div>
        <div class="col xs-12 sm-12 md-6 lg-4 xl-4">
          <div style="width: 80%; margin-left: 10%; height: 160px;">
            <h5>NAVIGATE:</h5>
            <a href="#" style="text-decoration: none;">Home</a><br>
            <a href="#" style="text-decoration: none;">Portfolio</a><br>
            <a href="#" style="text-decoration: none;">Settings</a><br>
            <a href="#" style="text-decoration: none;">Donate</a>
          </div>
        </div>
    </div>
  </div>

}
