@(registerForm: Form[LoginForm], hasFailed: Boolean)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Bloks Social Media Site</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap(2).css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>

      <noscript>
        This may have unexpected behavior with javascript disabled.
      </noscript>
      <div id="root">
          <div>
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">
                      <a class="navbar-brand"><img src="@routes.Assets.versioned("images/method-draw-image-1.svg")" class="App-logo" alt="logo" style="width: 180px;"></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                      <div class="collapse navbar-collapse" id="navbarColor03">
                          <ul class="navbar-nav me-auto">
                              <li class="nav-item"><a class="nav-link active" href="/"><span class="visually-hidden">(Current)</span></a></li>
                              <li class="nav-item"><a class="nav-link" href="/register">Logup</a></li>
                              <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
                              <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                              <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>
              <div class="container">
                  <div class="row">
                      <div class="col">
                          <div style="font-size: calc(20px + 6vw); margin-top: 10vh; text-align: center;">eXul Bloks</div>
                          <div style="font-size: calc(20px + 1vw); text-align: center;">On Principle, Not Fear Nor Exception</div><br>
                          <div style="height: 1px; background-color: rgb(131, 146, 189);"></div>
                          <br>
                          <div style="font-size: calc(10px + 1vw); text-align: center;">eXul Bloks is a <b>social networking</b> site for schools across Vermont. For each <b>school district</b> the students can modify their own Blok and manage the site themselves <b>democratically</b>. Featuring zero advertisements EVER!!</div>
                      </div>
                      <div class="col">
                          <div class="card text-white bg-light" style="max-width: 20rem; margin: 10vh auto;">
                              <div class="card-header">
                                  <h2 style="color: rgb(131, 146, 189);">Login</h2>
                                  <div style="height: 1px; background-color: rgb(131, 146, 189);"></div>
                                  <div class="card-body">
                                      @{if (hasFailed) {<h5 style="color: red;">Login Information is Incorrect.</h5>}}
                                      <div><label class="form-label mt-4" style="color: rgb(131, 146, 189);">School Email:</label><br>
                                          <form action="/" method="post">
                                              @helper.CSRF.formField
                                              <div>
                                                <input type="email" name="email" placeholder="example@@email.com" style="padding-left: 20px;" class="form-control is-invalid">
                                                <div class="invalid-feedback">Email is Invalid</div>
                                              </div>
                                              <label class="form-label mt-4" style="color: rgb(131, 146, 189);">Account Password:</label><br>
                                              <div>
                                                <input type="password" name="password" placeholder="password" style="padding-left: 20px;" class="form-control is-invalid">
                                                <div class="invalid-feedback">Password is Invalid</div>
                                              </div>
                                              <br>
                                              <p style="color: rgb(131, 146, 189);">Forgot Password? Click <a href="/forgottenPassword">Here</a>!</p>
                                              <button type="submit" class="btn btn-outline-primary" style="background-color: rgb(255, 0, 255); width: 100%;">Login</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div
      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

    </body>
</html>
