@(registerForm: Form[RegisterForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)


<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Bloks Social Media Site</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap(2).css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>

      <noscript>
        This may have unexpected behavior with javascript disabled.
      </noscript>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="@routes.Assets.versioned("images/method-draw-image-1.svg")" class="App-logo" alt="logo" style="width: 180px;"></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="/"><span class="visually-hidden">(Current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Logup</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="card text-white bg-light" style="margin: 10vh;">
            <div class="card-header">
	              <h2 style="color: rgb(131, 146, 189);">Logup</h2>
	              <div style="height: 1px; background-color: rgb(131, 146, 189);"></div>
	              <div class="card-body">
                  <form action="/register" method="post">
                      @helper.CSRF.formField

											<label class="form-label mt-4" style="color: rgb(131, 146, 189);">School Email:</label><br>
                      <div>
													<input type="email" name="email" placeholder="example@@email.com" style="padding-left: 20px;" class="form-control is-invalid">
                          <div class="invalid-feedback">Email is Invalid</div>
                      </div>
											<label class="form-label mt-4" style="color: rgb(131, 146, 189);">Genuine Name:</label><br>
                      <div>
													<input type="textarea" name="name" placeholder="Whiteboy Rick" style="padding-left: 20px;" class="form-control is-invalid">
                          <div class="invalid-feedback">Name is Invalid</div>
                      </div>
											<label class="form-label mt-4" style="color: rgb(131, 146, 189);">Account Password:</label><br>
                      <div>
												<input type="password" name="password" placeholder="password" style="padding-left: 20px;" class="form-control is-invalid">
                        <div class="invalid-feedback">Password is Invalid</div>
                      </div>
											<div>
												<label class="form-label mt-4" style="color: rgb(131, 146, 189);">Student Grade:</label><br>
									      <select class="form-select" id="exampleSelect1">
									        <option>9th</option>
									        <option>10th</option>
									        <option>11th</option>
									        <option>12th</option>
									        <option>Faculty</option>
									      </select>
                      </div>
											<div>
												<label class="form-label mt-4" style="color: rgb(131, 146, 189);">Relationship Status:</label><br>
									      <select class="form-select" id="exampleSelect1">
									        <option>I'm Faculty</option>
									        <option>It's Private</option>
									        <option>Single</option>
									        <option>Dating</option>
									        <option>Married</option>
													<option>Shut up!</option>
													<option>I'm lonely</option>
													<option>Asexual & Aromantic</option>
													<option>I Love You!</option>
													<option>It's Complicated</option>
													<option>Big Love Baby ;)</option>
									      </select>
                      </div>
											<label class="form-label mt-4" style="color: rgb(131, 146, 189);">Personal Biography:</label><br>
                      <div>
												<textarea type="text" name="password" placeholder="I'm here." style="padding-left: 20px;" class="form-control is-invalid"></textarea>
                        <div class="invalid-feedback">Biography is Invalid</div>
                      </div>
											<label class="form-label mt-4" style="color: rgb(131, 146, 189);">Date of Birth:</label><br>
                      <div>
												<input type="text" name="password" placeholder="YYYY-MM-DD" style="padding-left: 20px;" class="form-control is-invalid">
                        <div class="invalid-feedback">Password is DOB</div>
                      </div>
                      <br><br>
                      <button type="submit" class="btn btn-outline-primary" style="background-color: rgb(255, 0, 255); width: 100%;">Login</button>
                  </form>
              </div>
          </div>
      </div>
    </body>
</html>
